.groupItem {
  display: flex;
  gap: 0.5rem;
}
.groupItem > * {
  padding: 1rem 0;
}
.groupItem p {
  flex: 1;
}
.groupItem button {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
.groupItem button:not(:disabled):hover {
  color: rgb(var(--color-primary));
}
.groupInput {
  display: flex;
}
.groupInput > * {
  padding: 0.5rem;
}
