.toast {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
}
.default {
  background-color: rgba(var(--color-white), 0.25);
}
.error {
  background-color: rgba(255, 0, 0, 0.25);
}
.error::before {
  content: "⛔";
  margin-right: 0.25rem;
}

@media (max-width: 840px) {
  .toast {
    bottom: 0;
    right: 0;
    width: 100%;
  }
}
