:root {
  --max-width: 1000px;

  --color-primary: 100, 149, 237;
  --color-secondary: 255, 222, 173;
  --color-black: 29, 29, 29;
  --color-white: 255, 255, 255;
}

#root {
  font-size: 16px;
  line-height: 1.5;
}

main {
  max-width: var(--max-width);
  width: calc(100% - 2rem);
  margin: auto;
}

h1,
h2 {
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  padding: 3rem 0 2rem 0;
}
h2 {
  font-size: 1.25rem;
  padding: 1rem;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
  color: lightgray;
}
button:not(:disabled):hover {
  filter: brightness(1.2);
}
.btn {
  border: 0;
  outline: 0;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
}
.btn.primary {
  background-color: rgb(var(--color-primary));
}

.contents {
  display: flex;
  align-items: start;
  gap: 2rem;
}

@media (max-width: 840px) {
  .contents {
    display: block;
  }
}
