:root {
  --max-width: 1000px;

  --color-primary: 100, 149, 237;
  --color-secondary: 255, 222, 173;
  --color-black: 29, 29, 29;
  --color-white: 255, 255, 255;
}

#root {
  font-size: 16px;
  line-height: 1.5;
}

main {
  max-width: var(--max-width);
  width: calc(100% - 2rem);
  margin: auto;
}

h1,
h2 {
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
  padding: 3rem 0 2rem 0;
}
h2 {
  font-size: 1.25rem;
  padding: 1rem;
}

button {
  cursor: pointer;
}
.btn {
  border: 0;
  outline: 0;
  padding: 0.5rem;
  color: white;
  border-radius: 0.5rem;
}
.btn.primary {
  background-color: rgb(var(--color-primary));
}

.contents {
  display: flex;
  gap: 2rem;
}

@media (max-width: 840px) {
  .contents {
    display: block;
  }
}

/* inputCon */
.inputCon {
  border: 2px solid rgba(var(--color-black), 0.15);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.inputItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}
.inputItem label {
  flex-basis: 100px;
}
.inputItem input,
.inputItem select {
  flex: 1;
  padding: 0.5rem;
}
.inputItem select + button {
  padding: 0.4rem;
}
.inputItem .message {
  width: 100%;
  text-align: right;
  font-size: 0.75rem;
  color: red;
}

/* listCon */
.listCon {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.search {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.search input {
  flex: 1;
  border: 0;
  outline: 0;
  background-color: rgba(var(--color-primary), 0.15);
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.list {
  margin-top: 1rem;
}
.item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 2px dotted rgba(var(--color-black), 0.5);
}
.item .info {
  flex: 1;
}
.item button {
  padding: 0.5rem;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--color-black), 0.1);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalBody {
  position: relative;
  translate: 0 -2rem;
  background-color: rgb(var(--color-white));
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.modalBody .close {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 50%;
  translate: -50%;
  background-color: indianred;
}

/* Group Modal */
.groupItem {
  display: flex;
  gap: 0.5rem;
}
.groupItem > * {
  padding: 1rem 0;
}
.groupItem p {
  flex: 1;
}
.groupItem button {
  outline: 0;
  border: 0;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
.groupItem button:hover {
  color: rgb(var(--color-primary));
}
.groupInput {
  display: flex;
}
.groupInput > * {
  padding: 0.5rem;
}

/* Detail Modal */
.detailModalCon p span {
  font-weight: bold;
}
